body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    /* background-color: black; */
    background-image: url(images/dark\ sky.jpg);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: black;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid white;
    opacity: 90%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s, text-decoration 0.3s;
}

.navbar a:hover {
    color: red;
    text-decoration: underline;
}

header {
    display: block;
    font-family: "Lilita One", sans-serif;
    color: white;
    text-shadow: 2px solid black;
    font-size: 40px;
    text-align: left;
    height: 300px;
    padding: 100px 20px;
    /* background-color: black; */
    color: rgb(103, 103, 237);
}

p {
    font-size: 20px;
    opacity: 85%;
}

.Galaxy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    padding: 20px;
    /* background-image: url('images/eso0932a.jpg'); */
}

.galaxy-info {
    flex: 1;
    padding: 20px;
}

.galaxy-info h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.galaxy-info p {
    font-size: 16px;
}

.button {
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    width: 300px;
    height:30px;
    background-color: rgb(255, 57, 12); /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for the button */
    text-decoration: none; /* No underline */
    border-radius: 15px; /* Rounded corners */
    margin-top: 20px; /* Space above the button */
    transition: background-color 0.3s; /* Smooth background color change */
}

.button:hover {
    background-color: rgb(255, 70, 17); /* Darker green on hover */
}



.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust based on navbar height */
    background-color: black; /* Gradient colors */
}

.video-container {
    width: 80%; /* Adjust width as needed */
    max-width: 800px; /* Maximum width for large screens */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.video-container iframe {
    width: 100%;
    height: 450px; /* Adjust height as needed */
    border: none;
}

